<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Предыдущая</a>
        {% endif %}
    </span>

    <span class="current">
        {% if page.has_previous %}
            Стр {{ page.number }} из {{ page.paginator.num_pages }}
        {% endif %}
    </span>

    <span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>