{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/block.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css"> <!-- New code -->
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/highlight.min.js"></script> <!-- New code -->
</head>
<body>
<div id="content">
    {% if messages %}
        {% for message in messages %}
            {{ message.tags }} {{ message }}
        {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}
</div>

<div id="sidebar">
    <h2>Мой блог</h2>
    {% if user.is_authenticated %}
        <p>Привет! {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выход</button>
        </form>
    {% else %}
        <p>Вы не вошли</p>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    <p>
        Это мой блог.
        Всего постов: {% total_posts %}
    </p>

    <h2>Последние посты</h2>
    {% show_latest_posts 3 %}

    <h2>Посты с большим кол-во коментариев</h2>
    {% include 'blog/post/more_comments_post.html' %}

</div>
<script>hljs.highlightAll();</script> <!-- New code -->
</body>
</html>